@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	font-size: 62.5%;
	--laranja: #f44336;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	font-family: "Raleway", sans-serif;
	font-size: 2rem;
	background-color: #f1f1f1;
}

ul {
	list-style: none;
}

a {
	color: inherit;
}

section {
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 1050px;
	margin: 30px auto 0 auto;
}

section :where(h2, h3, h4) {
	font-weight: normal;
	font-size: 2.4rem;
}

section p {
	font-size: 1.6rem;
}

/* ================================== */
/*                Header              */
/* ================================== */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-height: 10vh;
	padding: 11px 15px;
	border: 0.5px solid gray;
	background-color: #FFF;
}

header > i {
	font-size: 2.4rem;
	color: gray;
}

.logo-wrapper {
	display: flex;
	align-items: center;
	gap: 15px;
	color: var(--laranja);
}

.logo-wrapper span {
	font-size: 2.5rem;
	font-weight: 600;
	justify-self: center;
	align-self: center;
}

/* ================================== */
/*                Main                */
/* ================================== */
#hero {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 90vh;
	margin: 0;
	background-image: url("imagens/london.jpg");
	background-size: contain;
}

#hero > div {
	display: flex;
	flex-direction: column;
	width: 65vw;
	height: 26rem;
	background-color: white;
}

/* ================================== */
/*                Tabs                */
/* ================================== */
#hero .tabs-group {
	display: flex;
}

#hero .tabs-group .tab {
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	width: 100%;
	padding: 10px 15px;
	background-color: black;
	color: white;
}

#hero .tabs-group .tab:nth-child(1) {
	background-color: var(--laranja);
}

#hero .tabs-group .tab i {
	font-size: 1.5rem;
}

#hero .tabs-group .tab:nth-child(1) i {
	transform: rotateZ(-45deg);
}


/* ================================== */
/*             Formulário             */
/* ================================== */
#hero form {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 100%;
	height: 100%;
	padding: 15px;
	gap: 15px;
}

#hero form .row {
	display: flex;
}

#hero form .row:nth-child(2) {
	gap: 15px;
}

#hero form .row > span {
	font-size: 2.4rem;
} 

.input {
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 100%;
}

.input label {
	font-size: 1.5rem;
}

.input input {
	font-size: 1.5rem;
	padding: 10px 8px;
	border: 1px solid #c0c0c0;
	color: black;
}

.input input:focus {
	outline: 1px solid black;
}

.input input::placeholder {
	color: #9b9b9b;
}

#hero form .row button {
	font-weight: lighter;
	font-size: 1.5rem;
	padding: 11px 18px;
	background-color: #616161;
	color: white;
}

/* ================================== */
/*             1º Section             */
/* ================================== */
.images {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 15px;
}

.image-container {
	position: relative;
	width: 100%;
	height: 100%;
}

.image-container img {
	width: 100%;
	height: 100%;
}

.image-container p {
	position: absolute;
	bottom: 15px;
	left: 15px;
	color: white;
}

.column:nth-child(2) .img-wrapper {
	display: grid;
	grid-column-start: 2;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 15px;
}

/* ================================== */
/*              Add Infos             */
/* ================================== */
#add-infos p {
	font-size: 1.5rem;
}

.color-faded {
	opacity: 0.5;
}

.cards {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 100%;
	gap: 15px;
}

.card {
	background-color: white;
}

.card img {
	width: 100%;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: space-between;
	padding: 10px 15px;
}

.content h2 {
	font-weight: normal;
	font-size: 2.4rem;
}

.content button {
	font-weight: normal;
	font-size: 1.6rem;
	text-align: left;
	background-color: white;
	padding: 10px 15px 15px 15px;
}

/* ================================== */
/*             Newsletter             */
/* ================================== */
#newsletter {
	padding: 35px 15px 15px 15px;
	background-color: #606060;
	box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.153);
	gap: 25px;
	color: white;
}

#newsletter h2 {
	font-size: 3rem;
	line-height: 4.2rem;
}

#newsletter p {
	font-size: 1.4rem;
}

#newsletter .input input::placeholder {
	color: #b8b8b8;
}

#newsletter button {
	font-size: 1.4rem;
	font-weight: lighter;
	width: 100px;
	margin-top: 10px;
	padding: 10px 15px;
	background-color: #F38981;
	color: white;
}

/* ================================== */
/*              Contact               */
/* ================================== */
#contact {
	gap: 20px;
}

#contact i {
	font-size: 1.4rem;
}

#contact h2 {
	font-size: 3rem;
}

#contact p {
	font-size: 1.4rem;
}

#contact ul {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

#contact ul li {
	display: flex;
	align-items: center;
	gap: 20px;
	font-size: 1.4rem;
}

#contact form {
	display: flex;
	flex-direction: column;
	gap: 15px;
	padding: 10px 0;
}

#contact .input input {
	padding: 20px 10px;
}

#contact form button {
	font-size: 1.5rem;
	align-self: flex-start;
	background-color: black;
	color: white;
	padding: 15px 24px;
}

/* ================================== */
/*               Footer               */
/* ================================== */
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 40px;
	padding: 20px 0;
	color: #606060;
}

footer i {
	font-size: 2.4rem;
}

footer h4 {
	font-weight: 300;
	font-size: 1.8rem;
}

footer ul {
	display: flex;
	align-items: center;
	gap: 5px;
}

footer p {
	font-size: 1.4rem;
}

@media (max-width: 768px) {
	section {
		width: 95%;
	}
	
	/* ================================== */
	/*                Header              */
	/* ================================== */
	header {
		justify-content: space-around;
	}
		
	/* ================================== */
	/*                Main                */
	/* ================================== */
	#hero {
		height: 50vh;
	}
		
	#hero > div {
		width: 70vw;
	}
}

@media (max-width: 450px) {
	section {
		width: 95%;
	}
	
	/* ================================== */
	/*                Header              */
	/* ================================== */
	header {
		justify-content: space-between;
	}
		
	/* ================================== */
	/*                Main                */
	/* ================================== */
	#hero {
		height: 55vh;
	}

	#hero > div {
		width: 100vw;
		height: 100%;
	}

	#hero form {
		gap: 15px;
	}

	#hero form .row:nth-child(2) {
		flex-direction: column;
		gap: 0;
	}

	.input {
		gap: 0;
	}
	
	/* ================================== */
	/*             1º Section             */
	/* ================================== */
	.images {
		display: flex;
		flex-direction: column;
	}

	.column:nth-child(2) .img-wrapper {
		display: flex;
		flex-direction: column;
	}

	/* ================================== */
	/*              Add Infos             */
	/* ================================== */
	.cards {
		display: flex;
		flex-direction: column;
	}
}